*{
    background-color: cornsilk;
}

.box{
    margin-top: 0%;
    width: 100%;
    height: 50px;
    background-color: #074259;
}

.fa{
    color: white;
    background-color: #074259;
    margin-top: 7.5px;
    margin-left: 30px;
    
}


.box-1 {
    width: 240px;
    height: 400px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: #262626;
}

.box-2 {
    display: flex;
    width: 800px;
    height: 40px;
    margin-top: -430px;
    margin-left: 410px;
    border-radius: 5px;
    background-color: #262626;
}

.container-1 {
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
    justify-content: space-around;

}

.box-3 {
    background-color: #262626;
    width: 250px;
    height: 150px;
    border-radius: 15px; 
}


.box-4 {
    background-color: #262626;
    width: 250px;
    height: 150px;
    border-radius: 15px;
}

.box-5 {
    background-color: #262626;
    width: 250px;
    height: 150px;
    border-radius: 15px;
}

.box-6 {
    background-color: #262626;
    width: 1000px;
    height: 150px; 
    margin-top: 40px;
    margin-left: 300px;
    border-radius: 25px;
}

h3{
    font-family: sans-serif;
    margin-top: -485px;
    background-color: #074259;
    color: white;
    word-spacing: 10px;
    letter-spacing: 5px;
    margin-left: 80px;
    text-align: center;
}

p{
    background-color: #262626;
    margin-top: 45px;
    color: white;
    width: 50px;
    margin-left: 425px;
    font-family: sans-serif;
    letter-spacing: 2px;
}









